@import url('http://fonts.cdnfonts.com/css/bukhari-script');
body{
    background-color: black !important;
    padding: 0px;
    margin: 0px;
    background-image: url( '../public/Ocean-2.5s-1920px.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  .top{
    /* position: sticky;
            top: 0px; */
  }
  h1{
    margin-block-start: 0em;
  }
  .title{
    font-family: 'Bukhari Script', sans-serif;
    font-size: 7em;
    color: white;
    padding-left: 40px;
    padding-top: 60px;
    text-align: center;
  }
  .subtitle{
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  #fileupload{
  background-color: rgba(255, 255, 255, 0.548);
  border-radius: 60px;
  height: 100%;
  width: 80%;
  margin-top: 3%;
  }
  #fileupload1{
    background-color: rgb(255, 255, 255);
  border-radius: 60px;
  height: 100%;
  width: 80%;
  margin-top: 3%;
  }
  #pt1{
  background-color: rgba(255, 255, 255, 0.017);
  padding-top: 3%;
  height: 100%;
  border-radius: 60px;
  margin: 0px;
  }
  #pt11{
    background-color: rgb(255, 255, 255);
    padding-top: 3%;
    height: 50%;
    height: 100%;
    border-radius: 60px;
    margin: 0px;
  }
  ::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  #pt2{
  float: right;
  height: 25em;
  background-color:   #1a5855;
  border-radius: 60px;
  border: 10px solid white;
  align-items: center;
  }
  input[type=file]{
    width: 70%;
    max-width: 100%;
    margin-bottom: 20px;
    color: black;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #2b2a5ccb;
  }
  input[type=text] {
    width: 70%;
    max-width: 100%;
    color: black;
    padding: 30px;
    margin-top: 30px;
    background: #fff;
    border-radius: 10px;
    background-color: #2b2a5ccb;
    color: rgb(255, 255, 255);
    border: 0px solid black;
  }
  input[type=radio] {
    border-radius: 50%;
    background-color: #fff;
    width: 20px;
    height: 20px;
    background: #5e9d8f;
    color: rgb(255, 255, 255);
    border: 3px solid #FFF;
  }
  input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #606060;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  input[type=file]::file-selector-button:hover {
    background: #1f454d;
  }
  .icon{
    height: 100%;
    width: 80%;
    margin: auto  ;
  }
  .type{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width:70%;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .or{
    font-size: 30px;
    color: white;
    padding: 20px;
    text-align: center;
  }
  .iconcontainer{
    margin-bottom: auto;
    margin-top: 20%;
    display: flex;
    align-items: center;
  }
  #button{
    width: 100%;
  }
  .convert1{
    background-color: #2b2a5ccb;
    border-radius: 20px;  
    margin-top: 10%;
    width: 30%;
    padding: 20px;
    color: white;
    font-size: 25px;
    border: 0px solid black;
  }
  .bottom2{
    display: none;
    margin-top: 10%;
    margin-bottom: 20%;
  }
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    background-image: url('../public/load.gif');
    background-repeat: no-repeat;
    background-position: center;
  }
  #img{
    width: 50%;
  }
  table {
    border-collapse: collapse;
    width: 90%;
    background-color: #606060;
    color: white;
    font-size: large;
    margin: 20px;
    border-radius: 10px;
    float: left;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    padding: 20px;
    
  }
    th {
    background-color: #04AA6D;
    color: white;
  }
  #dld{
    float: right;
    width: 100%;
    background-color: #1a5855;
    border: 5px solid #1a5855 ;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    height: 100%;
    background-image: url("../public/download.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }
  #dld:hover{
    background-color: #56b3ae;
    border: 5px solid #1a5855 ;
  }
  h2{
    width: 40%;
    margin: 0px;
    align-content: center;
  }
  #download{
    padding: 0px;
  }
  .img{
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px dashed black;
  }
  .img2{
    display: none;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px dashed black;
    background-image: url('../public/img-def.png');
  }